parti.admin/Web References/wcf.parti/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://19.168.1.201:88/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf.parti_training_admin" />
  <xs:element name="GetAuthen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumYearlyCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SumYearlyCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumYearlyCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rules" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainerListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname_la" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname_eng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_birth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="village" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="work_place" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_govermented" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="office_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatar_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc1_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc2_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc3_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc4_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc5_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTrainerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf.parti_training_admin" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf.parti_training_admin" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTraineeListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname_la" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname_eng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_birth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="village" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="work_place" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_govermented" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="office_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="approval_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc1_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc2_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc3_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc4_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc5_url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTraineeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTraineeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainingListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeByTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraineeByTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTraineeByTrainingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainerByTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainerByTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainerByTrainingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="course_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="int_or_ext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_days" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_modified_data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTrainingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTraineeForTrainings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainee_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTraineeForTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTraineeForTrainingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainerForTrainings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainer_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTrainerForTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTrainerForTrainingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetYearPlansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditYearPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="year_plan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="course_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditYearPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditYearPlansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompareYearPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="course_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times_range" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QorY" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompareYearPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompareYearPlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingIdNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingIdNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainingIdNamesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="created_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_modified_data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditQTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question_text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_of_modified_data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditQuestionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer_text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditQAnswersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistrictResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProvinceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="education_level" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="education_major" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="education_country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="educated_year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="education_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEducationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="approval_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position_major" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relationship_trainee" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="office_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="office_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditApprovalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVillage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVillageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVillageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="experience_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responsibility" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="office" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="years" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditExperienceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainee_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainingExperienceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exper_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExperienceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingExperience_Trainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainer_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingExperience_TrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainingExperience_TrainerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTraineeForTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainee_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="training_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTraineeForTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTraineeForTrainingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingRPT01">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="int_or_ext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_date_s" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t_date_e" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingRPT01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrainingRPT01Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>